{% extends "base.html" %}
{% block content %}
		<div class="row">
			<div class="col-lg-12">
				<h2>OBSERVED SYMPTOMS</h2>
			  	<p>Please Click and choose appropriate Age group and Symptoms most similar to your diseased animals.</p>
			</div>
		</div>

		<div class="row">
		  	<div class="col-lg-4">
		  		
			  	<!-- accodion with selectable list -->
			  	<div class="panel-group" id="accordion">
			  		<!-- age group -->
				    <div class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#age_group_list">1. Age Group</a>
				        	</h4>
				      	</div>
				     
						<div id="age_group_list" class="panel-collapse collapse">
				        	<div class="list-group">
				          		<li class="list-group-item">
				          			<label class="item">Piglet<input type="checkbox" value="Piglet" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">A piglet is a young pig.</p>
				          		</li>
				          		<li class="list-group-item">
				          			<label class="item">Weaner<input type="checkbox" value="Weaner" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">A Weaner is a pig of age between 3 to 6 months.</p>
				          		</li>
			          			<li class="list-group-item">
			          				<label class="item">Grower<input type="checkbox" value="Grower" class="chk"><span class="checkmark"></span></label>
			          				<p class="hidden">A Grower is a pig of age between 6 months to 1 year.</p>
			          			</li>
			      				<li class="list-group-item">
			      					<label class="item">Finisher<input type="checkbox" value="Finisher" class="chk"><span class="checkmark"></span></label>
			      					<p class="hidden">A Finisher is a fully grown pig.</p>
			      				</li>
				          		<li class="list-group-item">
				          			<label class="item">Sow<input type="checkbox" value="Sow" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">A Sow is a fully developed female pig used for breading.</p>
				          		</li>
				          		<li class="list-group-item">
				          			<label class="item">Boar<input type="checkbox" value="Boar" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">A Boar is a fully developed male pig.</p>
				          		</li>
				        	</div>
				        	<!-- <div class="panel-footer">..</div> -->
				      	</div>
				    </div>

				    <!-- general observation -->
				    <div class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#general_observation_list">2. General Observation</a>
				        	</h4>
				      	</div>
				     
						<div id="general_observation_list" class="panel-collapse collapse">
				        	<ul class="list-group">
				          		<li class="list-group-item">
				          			<label class="item">Fever<input type="checkbox" value="Fever" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Fever....</p>
				          		</li>
				          		<li class="list-group-item">
				          			<label class="item">Dehydration<input type="checkbox" value="Dehydration" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Dehydration...</p>
				          		</li>
				          		<li class="list-group-item">
				          			<label class="item">Dullness<input type="checkbox" value="Dullness" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Dullness....</p>
				          		</li>
				          		<li class="list-group-item">
				          			<label class="item">Jaundice<input type="checkbox" value="Jaundice" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Jaundice.....</p>
				          		</li>
				          		<li class="list-group-item">
				          			<label class="item">Off feed<input type="checkbox" value="Off feed" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Off feed .....</p>
				          		</li>
				          		<li class="list-group-item">
				          			<label class="item">Off water<input type="checkbox" value="Off water" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Off water .....</p>
				          		</li>
				          		<li class="list-group-item">
				          			<label class="item">Weakness<input type="checkbox" value="Weakness" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Weakness .....</p>
				          		</li>
				          		<li class="list-group-item">
				          			<label class="item">Weight loss<input type="checkbox" value="Weight loss" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Weight loss .....</p>
				          		</li>
				          		<li class="list-group-item">
				          			<label class="item">Pale eye or Anemia<input type="checkbox" value="Pale eye or Anemia" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Pale eye due to Anemia .....</p>
				          		</li>
				          		<li class="list-group-item">
				          			<label class="item">Eye redness<input type="checkbox" value="Eye redness" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Redness of eye due to .....</p>
				          		</li>
				          		<li class="list-group-item">
				          			<label class="item">Mastastis<input type="checkbox" value="Mastastis" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Mastastis .....</p>
				          		</li>
				        	</ul>
				      	</div>
				    </div>

				   	<!-- Skin Changes -->
				    <div class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#skin_changes_list">3. Skin Changes</a>
				        	</h4>
				      	</div>
				     
						<div id="skin_changes_list" class="panel-collapse collapse">
				        	<ul class="list-group">
				          		<li class="list-group-item">
				          			<label class="item">Bluish Ear<input type="checkbox" value="Fever" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Bluish Ear....</p>
				          		</li>
				          		<li class="list-group-item">
				          			<label class="item">Bluish Eye<input type="checkbox" value="Dehydration" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Bluish Eye...</p>
				          		</li>
				          		
				        	</ul>
				      	</div>
				    </div>

				    <!-- Respiration or Breathing change  -->
				    <div class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#respiration_changes_list">4. Respiration or Breathing Changes</a>
				        	</h4>
				      	</div>
				     
						<div id="respiration_changes_list" class="panel-collapse collapse">
				        	<ul class="list-group">
				          		<li class="list-group-item">
				          			<label class="item">Breathing Difficulty<input type="checkbox" value="Fever" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Breathing Difficulty....</p>
				          		</li>
				          		
				        	</ul>
				      	</div>
				    </div>

				    <!-- Digestive changes   -->
				    <div class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#digestive_changes_list">5. Digestive changes  Changes</a>
				        	</h4>
				      	</div>
				     
						<div id="digestive_changes_list" class="panel-collapse collapse">
				        	<ul class="list-group">
				          		<li class="list-group-item">
				          			<label class="item">Breathing Difficulty<input type="checkbox" value="Fever" class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">Breathing Difficulty....</p>
				          		</li>
				          		
				        	</ul>
				      	</div>
				    </div>

				    

			  	</div>
			  	<!-- end accodion with selectable list -->
		  	</div>
		  	<div class="col-lg-8">
		  		<!-- right side panel -->
		  		<div class="panel panel-info">
				  	<div class="panel-heading">Information</div>
				  	<div id="information" class="panel-body">
				  	</div>
				</div>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-lg-4"></div>
		  	<div class="col-lg-4"></div>
		  	<div class="col-lg-4">
		  		<button type="button" id="buttonClass" class="btn btn-primary">Submit</button>
    			<!-- <input type="button" value="Get Value Using Parent Tag" id="buttonParent"> -->
		  	</div>
		</div>
{% endblock content %}