{% extends "base.html" %}
{% block content %}
	<!-- 	<div class="row">
			<div class="col-lg-12">
				<h2>OBSERVED SYMPTOMS</h2>
			  	<p>Please Click and choose appropriate Age group and Symptoms most similar to your diseased animals.</p>
			</div>
		</div> -->

		<div class="row">
		  	<div class="col-lg-4">
		  		
			  	<!-- accodion with selectable list -->
			  	<div class="panel-group" id="accordion">
			  		<!-- age group -->
				    <div class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#age_group_list">1. Age Group</a>
				        	</h4>
				      	</div>
				     
						<div id="age_group_list" class="panel-collapse collapse">
				        	<div class="list-group">
				          		{% for item in age %}
				          		<li class="list-group-item">
				          			<label class="item">{{item.0}}<input type="checkbox" value={{item.0}} class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">{{item.1}}....</p>
				          		</li>
				          		{% endfor %}
				        	</div>
				        	<!-- <div class="panel-footer">..</div> -->
				      	</div>
				    </div>

				    <!-- general observation -->
				    <div class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#general_observation_list">2. General Observation</a>
				        	</h4>
				      	</div>
				     
						<div id="general_observation_list" class="panel-collapse collapse">
				        	<ul class="list-group">
				          		{% for item in general%}
				          		<li class="list-group-item">
				          			<label class="item">{{item.0}}<input type="checkbox" value={{item.0}} class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">{{item.1}}....</p>
				          		</li>
				          		{% endfor %}
				        	</ul>
				      	</div>
				    </div>

				   	<!-- Skin Changes -->
				    <div class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#skin_changes_list">3. Skin Changes</a>
				        	</h4>
				      	</div>
				     
						<div id="skin_changes_list" class="panel-collapse collapse">
				        	<ul class="list-group">
				          		{% for item in skin %}
				          		<li class="list-group-item">
				          			<label class="item">{{item.0}}<input type="checkbox" value={{item.0}} class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">{{item.1}}....</p>
				          		</li>
				          		{% endfor %}
				          		
				        	</ul>
				      	</div>
				    </div>

				    <!-- Respiration or Breathing change  -->
				    <div class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#respiration_changes_list">4. Respiration or Breathing Changes</a>
				        	</h4>
				      	</div>
				     
						<div id="respiration_changes_list" class="panel-collapse collapse">
				        	<ul class="list-group">
				          		{% for item in breathing %}
				          		<li class="list-group-item">
				          			<label class="item">{{item.0}}<input type="checkbox" value={{item.0}} class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">{{item.1}}....</p>
				          		</li>
				          		{% endfor %}
				          		
				        	</ul>
				      	</div>
				    </div>

				    <!-- Digestive changes   -->
				    <div id="id_d" class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#digestive_changes_list">5. Digestive Problems</a>
				        	</h4>
				      	</div>
				     
						<div id="digestive_changes_list" class="panel-collapse collapse">
				        	<ul class="list-group">
				        		{% for item in digestive %}
				          		<li class="list-group-item">
				          			<label class="item">{{item.0}}<input type="checkbox" value={{item.0}} class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">{{item.1}}....</p>
				          		</li>
				          		{% endfor %}
				          		
				        	</ul>
				      	</div>
				    </div>

				    <!-- Behavioural changes   -->
				    <div class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#behavioural_changes_list">6. Behavioural Changes</a>
				        	</h4>
				      	</div>
				     
						<div id="behavioural_changes_list" class="panel-collapse collapse">
				        	<ul class="list-group">
				        		{% for item in behavioural %}
				          		<li class="list-group-item">
				          			<label class="item">{{item.0}}<input type="checkbox" value={{item.0}} class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">{{item.1}}....</p>
				          		</li>
				          		{% endfor %}
				          		
				        	</ul>
				      	</div>
				    </div>

				    <!-- Posture changes   -->
				    <div class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#posture_changes_list">7. Posture Changes</a>
				        	</h4>
				      	</div>
				     
						<div id="posture_changes_list" class="panel-collapse collapse">
				        	<ul class="list-group">
				        		{% for item in posture %}
				          		<li class="list-group-item">
				          			<label class="item">{{item.0}}<input type="checkbox" value={{item.0}} class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">{{item.1}}....</p>
				          		</li>
				          		{% endfor %}
				          		
				        	</ul>
				      	</div>
				    </div>

				    <!-- Structure changes   -->
				    <div class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#structure_changes_list">8. Structural Changes</a>
				        	</h4>
				      	</div>
				     
						<div id="structure_changes_list" class="panel-collapse collapse">
				        	<ul class="list-group">
				        		{% for item in structure %}
				          		<li class="list-group-item">
				          			<label class="item">{{item.0}}<input type="checkbox" value={{item.0}} class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">{{item.1}}....</p>
				          		</li>
				          		{% endfor %}
				          		
				        	</ul>
				      	</div>
				    </div>

				    <!-- discharge   -->
				    <div class="panel panel-info">
				      	<div class="panel-heading">
				       		<h4 class="panel-title">
				          		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#discharge_changes_list">9. Discharge Type</a>
				        	</h4>
				      	</div>
				     
						<div id="discharge_changes_list" class="panel-collapse collapse">
				        	<ul class="list-group">
				        		{% for item in discharge %}
				          		<li class="list-group-item">
				          			<label class="item">{{item.0}}<input type="checkbox" value={{item.0}} class="chk"><span class="checkmark"></span></label>
				          			<p class="hidden">{{item.1}}....</p>
				          		</li>
				          		{% endfor %}
				          		
				        	</ul>
				      	</div>
				    </div>

				    

			  	</div>
			  	<!-- end accodion with selectable list -->
		  	</div>
		  	<div class="col-lg-8">
		  		<!-- right side panel -->
		  		<div class="panel panel-info myfix">
				  	<div class="panel-heading">Information</div>
				  	<div id="information" class="panel-body">
				  	</div>
				</div>
		  	</div>
		</div>
		<div class="row">
		  	<div class="col-lg-4"></div>
		  	<div class="col-lg-4"></div>
		  	<div class="col-lg-4">
		  		<button type="button" id="buttonClass" class="btn btn-primary">Submit</button>
    			<!-- <input type="button" value="Get Value Using Parent Tag" id="buttonParent"> -->
		  	</div>
		</div>
{% endblock content %}